<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    style 
        include index.css
</head>


<body>

    <div class="wrapper">
        <div class="table">
            a
        </div>
        <div style="background: blue;" class="module">
            h2 Фильтры
            <select>
                <option value="" selected>Корпус</option>
                <option>1 корпус</option>
                <option>2 корпус</option>
                <option>3 корпус</option>
                <option>4 корпус</option>
            </select>
            <select>
                <option value="" selected>Этаж</option>
                <option>1 этаж</option>
                <option>2 этаж</option>
                <option>3 этаж</option>
                <option>4 этаж</option>
                <option>5 этаж</option>
            </select>
            <button class="switcher">Добавление</button>
        </div>
        <div style="background: yellow;" class="module hidden">
            h2 Добавление
            <button class="switcher">Фильтры</button>
        </div>
    </div>

</body>

script
    include index.js

</html>