<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    style 
        include index.css
</head>


<body>

    <div class="wrapper">
        <div class="student">
        </div>
        <div class="content">
            <div class="table">
                <table>
                    <tr>
                        <th>ФИО</th>
                        <th>Корпус</th>
                        <th>Этаж</th>
                        <th>Комната</th>
                    </tr>
                </table>
            </div>
        </div>
        <div class="module">
            h2 Фильтры
            <input type="text" placeholder="Введите ФИО"></input>
            <select class="corp">
                <option value="" selected disabled>Корпус</option>
                    each corp in corpList
                        <option value="#{corp['corpId']}">#{corp['name']}</option>
            </select>
            <select class="floor">
                <option value="" selected disabled>Этаж</option>
            </select>
            <input type="text" placeholder="Номер комнаты"></input>
            <button class="switcher">Добавление</button>
        </div>
        <div class="module hidden">
            h2 Добавление
            <button class="switcher">Фильтры</button>
        </div>
    </div>

</body>

script(type="module")
    include index.js

</html>