* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html {
    height: 100%;
    width: 100%;
    background-color: #1d1d1d;
    color: white;
}

body {
    width: 100%;
    height: 100%;
}

.wrapper {
    display: flex;
    width: 100%;
    height: 100%;
}

.content {
    width: calc(100% - 350px);
    height: calc(100% - 25px);
    margin: 20px;
    border: 2px solid white;
}

.module {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 0;
    width: 300px;
    height: calc(100% - 44px);
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    border: 2px solid white;
    transition: .3s;
}

.hidden {
    transform: translateX(300px);
}

.switcher {
    width: 100px;
    height: 30px;
    margin-top: 10px;
}

select {
    width: 50%;
    height: 30px;
    margin-top: 10px;
    padding: 0 10px;
    background-color: #1d1d1d;
    color: white;
    border: 1px solid white;
}

input {
    width: calc(100% - 80px);
    height: 30px;
    font-size: 15pt;
    padding: 0 40px;
    padding-top: 10px;
    background-color: #1d1d1d;
    border: none;
    color: white;
    text-align: center;
}

input:focus {
    outline: none;
}

table {
    width: 100%;
}

table th,
table td {
    width: 25%;
}

.student {
    position: fixed;
    border: 2px solid yellow;
    width: calc(100% - 350px);
    height: calc(100% - 25px);
    margin: 20px;
    transform: translateX(calc(-100% - 20px));
    transition: .6s;
}

.student.active {
    transform: translateX(0) !important;
}